@import '../../common/commonConstant.scss';

.Cards {
  height: 142px;
  width: 100px;
  @media (max-width: 768px) {
    height: 100px;
    width: 70px;
  }
  .card {
    transform-style: preserve-3d;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  .front {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border: 2px solid $black;
    border-radius: 5px;
    background: url("https://opengameart.org/sites/default/files/card%20back%20black_0.png");
    background-size: 95px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media (max-width: 768px) {
      background-size: 65px;
    }
  }
  .front:hover {
    box-shadow: 0px 0px 20px 1px $black;
  }
  .active {
    background: none;
  }
  .matched {
    background: none;
    pointer-events: none;
  }
  .disable {
    pointer-events: none;
  }
}